<% include ./partials/header %>
  <form class="" action="/login" method="post">
    <input type="text" name="username" placeholder="enter username or email">
    <input type="password" name="password" placeholder="enter password">
    <button>Login!</button>
  </form>
  <% include ./partials/footer %>
