<% include ./partials/header %>
  <form class="" action="/register" method="post">
    <input type="text" name="username" placeholder="Enter a new Username">
    <input type="password" name="password" value="Enter your password here">
    <button>Submit</button>
  </form>
  <% include ./partials/footer %>
